

{%extends 'base/base.html'%}

{%block title%}{{title_complete|title}}{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid lista">

    {% include 'base/msg_sucesso.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lista-content">
      <div class="card">
        <form action="" method="post">
          {% csrf_token %}
          <div class="header">
            <h2>
              {{title_complete}}
            </h2>
          </div>

             {% load render_table from django_tables2 %}

            <div class="body">

                <div class="col-md-12">
                     <div id="chartdiv"></div>
                </div>

                <div style="margin-top: 20px" class="col-md-12">
                    <h5>Todos as entradas</h5>
                    <div class="tabela" style="overflow-x: auto; white-space: nowrap;">


                    {% render_table table %}

                    </div>
                </div>

            </div>

    </form>

  </div>
</div>

</div>
</section>


{%endblock%}

{% block js %}
<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dataviz.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://www.amcharts.com/lib/4/lang/pt_BR.js"></script>

<!-- Chart code -->
<script>
    am4core.ready(function () {

// Themes begin
        am4core.useTheme(am4themes_dataviz);
        am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
        var chart = am4core.create("chartdiv", am4charts.XYChart);
        chart.language.locale = am4lang_pt_BR;

// Add data
        {% if tipo_lancamento == 'entrada' %}

        chart.data = [
        {% for movimento in all_movimentos %}
        {
            "date": "{{movimento.data_movimento| date:'Y-m-d'}}",
            "value": "{{movimento.entradas}}".replace(",", ".")
        },
        {% endfor %}
        ];

        {% elif tipo_lancamento == 'saida' %}

        chart.data = [
        {% for movimento in all_movimentos %}
        {
            "date": "{{movimento.data_movimento| date:'Y-m-d'}}",
            "value": "{{movimento.saidas}}".replace(",", ".")
        },
        {% endfor %}
        ];

        {% endif %}





// Set input format for the dates
        chart.dateFormatter.inputDateFormat = "yyyy-MM-dd";

// Create axes
        var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

// Create series
        var series = chart.series.push(new am4charts.LineSeries());
        series.dataFields.valueY = "value";
        series.dataFields.dateX = "date";
        series.tooltipText = "{value}"
        series.strokeWidth = 2;
        series.minBulletDistance = 15;

// Drop-shaped tooltips
        series.tooltip.background.cornerRadius = 20;
        series.tooltip.background.strokeOpacity = 0;
        series.tooltip.pointerOrientation = "vertical";
        series.tooltip.label.minWidth = 40;
        series.tooltip.label.minHeight = 40;
        series.tooltip.label.textAlign = "middle";
        series.tooltip.label.textValign = "middle";

// Make bullets grow on hover
        var bullet = series.bullets.push(new am4charts.CircleBullet());
        bullet.circle.strokeWidth = 2;
        bullet.circle.radius = 4;
        bullet.circle.fill = am4core.color("#fff");

        var bullethover = bullet.states.create("hover");
        bullethover.properties.scale = 1.3;

// Make a panning cursor
        chart.cursor = new am4charts.XYCursor();
        chart.cursor.behavior = "panXY";
        chart.cursor.xAxis = dateAxis;
        chart.cursor.snapToSeries = series;

// Create vertical scrollbar and place it before the value axis
        chart.scrollbarY = new am4core.Scrollbar();
        chart.scrollbarY.parent = chart.leftAxesContainer;
        chart.scrollbarY.toBack();

// Create a horizontal scrollbar with previe and place it underneath the date axis
        chart.scrollbarX = new am4charts.XYChartScrollbar();
        chart.scrollbarX.series.push(series);
        chart.scrollbarX.parent = chart.bottomAxesContainer;

        chart.events.on("ready", function () {
            dateAxis.zoom({start: 0.79, end: 1});
        });


    }); // end am4core.ready()
</script>

{% endblock %}