{%extends 'base/base.html'%}

{%block title%}{%endblock%}
{%block content%}
<section class="content" id="eduzz">
    <div class="container-fluid">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="card">

                    <!--Header-->
                    <div class="header">

                        <h2>
                            {{title_complete}}
                        </h2>

                        <a type="button" href="{% url 'integracao_financeira:credenciaisPSview' %}" class="btn-get-started btn-conectar popup">Credenciais</a>
                        <button type="button" class="btn-get-started btn-conectar" data-toggle="modal" data-target="#modal_atualizar">Atualizar</button>


                    </div>

                    <div class="body">

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
                             style="padding-right: 0px; padding-left: 0px">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                <!-- START WIDGET SLIDER -->
                                <div class="widget widget-default widget-carousel widget1">
                                    <div>
                                        <div class="widget-title">Valor de vendas</div>
                                        <div class="widget-int">R$ 5.835,30</div>
                                        <div class="widget-subtitle widget-buttons">35% de aumento com mês anterior
                                        </div>
                                    </div>
                                </div>
                                <!-- END WIDGET SLIDER -->
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                <!-- START WIDGET MESSAGES -->
                                <div class="widget widget-default widget-carousel widget2">
                                    <div>
                                        <div class="widget-title">Quantidade de vendas</div>
                                        <div class="widget-int">86</div>
                                        <div class="widget-subtitle widget-buttons">10% de aumento com mês anterior
                                        </div>
                                    </div>
                                </div>
                                <!-- END WIDGET MESSAGES -->

                            </div>

                        </div>

                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="widget-graph widget--2x1">
<!--                                <canvas id="pie-chart-PAGSEGURO" style="max-width: 480px; max-height: 380px"></canvas>-->
<!--                                <canvas id="doughnut-chart" style="max-width: 500px; max-height: 300px"></canvas>-->
                                <div id="chartdiv-pagseguro"></div>
                            </div>
                        </div>

                        <div id="graficos" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-left: 0px">
                                <div class='widget-graph widget--3x1'>
                                    <!--<header class='widget-header'>
                                        <div class='widget-header-indicator'></div>
                                    </header> -->
                                    <div class='widget-content'>
                                        <canvas id="line-chart-PAGSEGURO"></canvas>
                                    </div>
                                    <!--<footer class='widget-footer'>
                                        <a class='fa fa-trash-o'></a>
                                        <a class='fa fa-cog'></a>
                                    </footer>-->
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-right: 0px">
                                <div class='widget-graph widget--3x1'>
                                    <!--<header class='widget-header'>
                                        <div class='widget-header-indicator'></div>
                                    </header> -->
                                    <div class='widget-content'>
                                        <canvas id="line-chart-PAGSEGURO-quantidade"></canvas>
                                    </div>
                                    <!--<footer class='widget-footer'>
                                        <a class='fa fa-trash-o'></a>
                                        <a class='fa fa-cog'></a>
                                    </footer>-->
                                </div>
                            </div>


                        </div>

                        {% include 'base/search.html' %}

                        <div class="table-responsive">
                            <table id="lista-database" class="table table-bordered table-striped lista-table">
                                <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th>Descrição</th>
                                    <th>Data do Pagamento</th>
                                    <th>Grupo</th>
                                    <th>Cliente</th>
                                    <th>Valor Total</th>
                                    <th>Remover</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for entrada in entradas %}
                                {% if entrada.grupo_plano.id == 3 %}
                                <tr class="clickable-row"
                                    data-href="{% url 'financeiro:editarrecebimentoview' entrada.id %}">
                                    <td>{{entrada.id}}</td>
                                    <td>{{entrada.descricao}}</td>
                                    <td>{{entrada.format_data_pagamento|default_if_none:""}}</td>
                                    <td>{{entrada.grupo_plano.id}}</td>
                                    <td>{{entrada.cliente|default_if_none:""}}</td>
                                    <td>{{entrada.valor_total}}</td>
                                    <td class="lista-remove">
                                        <input type="checkbox" name="{{entrada.id}}"
                                               id="remover-entrada-{{entrada.id}}"/>
                                        <label class="remove-entry-label" for="remover-entrada-{{entrada.id}}"></label>
                                    </td>
                                </tr>
                                {%endif%}
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="modal_atualizar">
        <div class="modal-dialog modal-lg">
            <form id="conexao_pg_atualizar" role="form" action="" method="post">
                {% csrf_token %}

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">CONEXÃO COM PAGSEGURO</h4>

                        {% if ultima_atualizacao %}
                        <p style="margin-top: 10px"><strong>Última atualização:</strong> {{ultima_atualizacao}}</p>
                        {% endif %}

                    </div>
                    <div class="modal-body" >
                        <div class="container-fluid">

                            <div class="row">

                                <div role="tabpanel" class="tab-pane active">

                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <label {% for error in form.data_inicio.errors %}title="{{error}}"{% endfor %}>{{form.data_inicio.label}}</label>
                                                {% if form.data_inicio.errors %}<label class="error"></label>{% endif %}
                                                {{form.data_inicio}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <label {% for error in form.data_fim.errors %}title="{{error}}"{% endfor %}>{{form.data_fim.label}}</label>
                                                {% if form.data_fim.errors %}<label class="error"></label>{% endif %}
                                                {{form.data_fim}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <label {% for error in form.plataforma.errors %}title="{{error}}"{% endfor %}>{{form.plataforma.label}}</label>
                                                {% if form.plataforma.errors %}<label class="error"></label>{% endif %}
                                                {{form.plataforma}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- #SELECIONAR ARQUIVO XML -->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn foot-btn" name="form_atualizar_datas" type="submit"><span>Salvar</span></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- #-->
</section>

{%endblock%}


{% block js %}

{% include 'fiscal/nota_fiscal/nota_fiscal_jsblock.html' %}

<script type="text/javascript">
    $.Admin.graficosPagSeguro.init();


    jQuery(document).ajaxComplete(function() {
    jQuery("g[title='JavaScript charts']").remove();
});


</script>

{% endblock %}