<div class="col-sm-3">
    <div class="form-group">
        <div class="form-line">
            <label>{{form.peso_liquido.label}}</label>
            {% if form.peso_liquido.errors %}<label class="error">{% for error in form.peso_liquido.errors %}{{error}}{% endfor %}</label>{% endif %}
            {{form.peso_liquido}}
        </div>
    </div>
</div>

<div class="col-sm-3">
    <div class="form-group">
        <div class="form-line">
            <label>{{form.peso_bruto.label}}</label>
            {% if form.peso_bruto.errors %}<label class="error">{% for error in form.peso_bruto.errors %}{{error}}{% endfor %}</label>{% endif %}
            {{form.peso_bruto}}
        </div>
    </div>
</div>

<div class="col-sm-3">
    <div class="form-group">
        <div class="form-line">
            <label>{{form.volumes.label}}</label>
            {% if form.volumes.errors %}<label class="error">{% for error in form.volumes.errors %}{{error}}{% endfor %}</label>{% endif %}
            {{form.volumes}}
        </div>
    </div>
</div>

<div class="col-sm-3">
    <div class="form-group">
        <div class="form-line">
            <label>{{form.itens_por_caixa.label}}</label>
            {% if form.itens_por_caixa.errors %}<label class="error">{% for error in form.itens_por_caixa.errors %}{{error}}{% endfor %}</label>{% endif %}
            {{form.itens_por_caixa}}
        </div>
    </div>
</div>

<div class="col-sm-3">
    <div class="form-group">
        <div class="form-line">
            <label>{{form.altura.label}}</label>
            {% if form.altura.errors %}<label class="error">{% for error in form.altura.errors %}{{error}}{% endfor %}</label>{% endif %}
            {{form.altura}}
        </div>
    </div>
</div>

<div class="col-sm-3">
    <div class="form-group">
        <div class="form-line">
            <label>{{form.largura.label}}</label>
            {% if form.largura.errors %}<label class="error">{% for error in form.largura.errors %}{{error}}{% endfor %}</label>{% endif %}
            {{form.largura}}
        </div>
    </div>
</div>

<div class="col-sm-3">
    <div class="form-group">
        <div class="form-line">
            <label>{{form.profundidade.label}}</label>
            {% if form.profundidade.errors %}<label class="error">{% for error in form.profundidade.errors %}{{error}}{% endfor %}</label>{% endif %}
            {{form.profundidade}}
        </div>
    </div>
</div>

<div class="col-sm-3">
    <div class="form-group">
        <div class="form-line">
            <label>{{form.unidade_de_medida.label}}</label>
            {% if form.unidade_de_medida.errors %}<label class="error">{% for error in form.unidade_de_medida.errors %}{{error}}{% endfor %}</label>{% endif %}
            {{form.unidade_de_medida}}
        </div>
    </div>
</div>

<div class="col-sm-3">
    <div class="form-group">
        <div class="form-line">
            <label>{{form.peso_com_embalagem.label}}</label>
            {% if form.peso_com_embalagem.errors %}<label class="error">{% for error in form.peso_com_embalagem.errors %}{{error}}{% endfor %}</label>{% endif %}
            {{form.peso_com_embalagem}}
        </div>
    </div>
</div>

<div class="col-sm-3">
    <div class="form-group">
        <div class="form-line">
            <label>{{form.altura_com_embalagem.label}}</label>
            {% if form.altura_com_embalagem.errors %}<label class="error">{% for error in form.altura_com_embalagem.errors %}{{error}}{% endfor %}</label>{% endif %}
            {{form.altura_com_embalagem}}
        </div>
    </div>
</div>

<div class="col-sm-3">
    <div class="form-group">
        <div class="form-line">
            <label>{{form.largura_com_embalagem.label}}</label>
            {% if form.largura_com_embalagem.errors %}<label class="error">{% for error in form.largura_com_embalagem.errors %}{{error}}{% endfor %}</label>{% endif %}
            {{form.largura_com_embalagem}}
        </div>
    </div>
</div>

<div class="col-sm-3">
    <div class="form-group">
        <div class="form-line">
            <label>{{form.profundidade_com_embalagem.label}}</label>
            {% if form.profundidade_com_embalagem.errors %}<label class="error">{% for error in form.profundidade_com_embalagem.errors %}{{error}}{% endfor %}</label>{% endif %}
            {{form.profundidade_com_embalagem}}
        </div>
    </div>
</div>
