{%extends 'base/base.html'%}

{%block title%}Selecionar empresa{%endblock%}

{%block side_top_bars%}{%endblock%}

{%block content%}
	
	<div class="card">
		<div class="header">
			<h2>Selecione uma empresa</h2>
		</div>
		<div class="body">
			<form id="popupform" role="form" action="" method="post">
			{% csrf_token %}
				{% for field in form %}
				<div class="form-group">
					<label>{{field.label}}</label>
					{% if field.errors %}<label class="error">{% for error in field.errors %}{{error}}{% endfor %}</label>{% endif %}
					<div class="input-group">
						<div class="form-line">
			      			{{field}}
			      		</div>
			      		<a class="input-group-addon popup-add" style="color: green;" href="{% url 'cadastro:addempresaview' %}"><i class="material-icons add-new-icon" title="Adicionar">&#xE147;</i></a>
		      		</div>
		      	</div>
		    	{% endfor %}
		    	<button class="btn btn-success foot-btn" type="submit"><i class="material-icons">&#xE148;</i><span> SALVAR</span></button>
	    	</form>
    	</div>
   	</div>
	
{%endblock%}

{% block js %}
<script>

	$.Admin.popupwindow.init();

	     $(document).ready(function () {
        console.log("***** Demo template loaded!");

        $(".ratings-axis-input input").rating();


        //initialize instance
        var enjoyhint_instance = new EnjoyHint({});

//simple config.
//Only one step - highlighting(with description) "New" button
//hide EnjoyHint after a click on the button.
        var enjoyhint_script_steps = [
            {
                'click #id_m_empresa': 'Selecione a empresa que você cadastrou',
                'showSkip' : false,
            },
            {
                'click .btn-success': 'Clique em "Salvar"',
                'showSkip' : false,
            }
        ];

//set script config
        enjoyhint_instance.set(enjoyhint_script_steps);

//run Enjoyhint script
        enjoyhint_instance.run();

    });

</script>
{% endblock %}